.button{
    margin-top: 48px;
    width: 170px;
    height: 64px;
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    border-radius: 10px;

}
.buttonText{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #00040E;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 985px) {

}
@media (max-width: 650px) {
    .button{
        width: 140px;
        height: 44px;
    }
    .buttonText{
        font-size: 16px;
    }
}
@media (max-width: 425px) {
    .button{
        width: 120px;
        height: 37px;
    }
    .buttonText{
        font-size: 12px;
    }
}
