.advertWrapper{
    margin-top: 180px;
    display: flex;
    position: relative;
}
.paypal{
    position: absolute;
    margin-left: 225px;
    z-index: 2;
}
.transactions{
    margin-top: 153px;
    position: absolute;
}
.advertRight{
    min-width: 470px;
    margin-top: 48px;
    margin-left: 700px;
}
.advertText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #FFFFFF;
}
.advertDesc{
    margin-top: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */

    letter-spacing: 0.01em;
}

.images{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 985px) {
    .advertWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .advertRight{
        display: flex;
        flex-direction: column;
        margin: 0px 55px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .advertLeftImgs{
        position: absolute;
        margin: 420px 450px 0px 0px;

    }

}
@media (max-width: 425px) {
    .advertRight{
        min-width: 390px;
    }
    .advertText{
        font-size: 36px;
    }
    .advertDesc{
        font-size: 14px;
    }
    .paypal{
        width: 180px;
        height: 180px;
    }
    .transactions{
        margin-left: 35px;
        margin-top: 115px;
        width: 270px;
        height: 215px;

    }

}