.findWrapper {
    margin-top: 160px;
    display: flex;
}

.findLeft {
    margin-top: 15px;
}

.findText {
    margin-bottom: 0px;
    max-width: 570px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 160%;
    /* or 77px */

    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.findDesc {
    max-width: 500px;
    margin-bottom: -25px;
    margin-top: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    /* or 31px */

    letter-spacing: 0.01em;

    color: rgba(255, 255, 255, 0.7);
}

.findRight {
    margin-top: 24px;
    margin-left: 87px;

}

@media (max-width: 985px) {
    .findWrapper {
        flex-direction: column;
        margin-top: 460px;
        align-items: center;
        justify-content: center;
    }

    .findLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .findRight {
        display: flex;
        margin-left: 100px;
        margin-top: 50px;
    }
}

@media (max-width: 425px) {
    .findText {
        font-size: 36px;
    }

    .findDesc {
        font-size: 14px;
    }
    .findRight img{
        margin-right: 75px;
            max-width: 363px;
            min-height: 300px;
    }
}